<div class="lg:max-w-7xl mx-auto">
  <div id="pricing" class="bg-white">
    {# <div class="max-w-screen-xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:flex-col sm:align-center">
        <h1
          class="text-5xl leading-none font-bold text-gray-700 sm:text-center"
        >
        Mainnet Pricing
        </h1>
        <p class="mt-5 text-m leading-7 text-gray-700 sm:text-center">
          Choose your specs! The equivalent amount will be billed in TFT at a TFT price of 0.10 USD. Testnet pricing is 1/10 of the Mainnet pricing.
        </p>
      </div> #}


      <div
        class="flex flex-col lg:flex-row mt-3 mb-10 mx-5">

        <div class="border border-gray-200 rounded-lg shadow-sm divide-y p-8 my-6 mx-4 divide-gray-200"
        >
          <div class="text-center">
            <h2 class="text-lg leading-6 font-bold text-gray-600">
              SILVER
            </h2>
            {# <p class="mt-4 text-sm leading-5 text-gray-500">
              {{ plan.excerpt }}
            </p> #}
            <p class="mt-8">
              <span class="text-5xl leading-10 font-extrabold text-gray-700">$15</span>
              <span class="text-2xl leading-6 font-medium text-gray-500"
                >/mo</span
              >
            </p>
            <button class="g-transparent hover:first:text-gray-500 font-semibold  py-2 px-4 border rounded-md"
            > 
             
              Get Started
          </button>
        </div>
          <div class="">
            <h3
              class="text-xs text-center leading-4 font-medium text-gray-700 tracking-wide uppercase"
            >
            WHAT'S INCLUDED?
            </h3>
            <ul class="mt-6 pl-0 mx-2">
              <li class="flex space-x-3">
                <!-- Heroicon name: check -->
                <svg
                  class="flex-shrink-0 h-5 w-5 text-green-600"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="text-sm leading-5 text-gray-600">A Kubernetes Controller and 1 Worker Node</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">4 GB Memory</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">100 GB Storage</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">A Network Gateway</span>
              </li>
            </ul>
          </div>
          
        </div>

        <div class="border border-gray-200 rounded-lg shadow-sm divide-y p-8 my-6 mx-4 divide-gray-200"
        >
          <div class="text-center">
            <h2 class="text-lg leading-6 font-bold text-gray-600">
              SILVER
            </h2>
            {# <p class="mt-4 text-sm leading-5 text-gray-500">
              {{ plan.excerpt }}
            </p> #}
            <p class="mt-8">
              <span class="text-5xl leading-10 font-extrabold text-gray-700">$15</span>
              <span class="text-2xl leading-6 font-medium text-gray-500"
                >/mo</span
              >
            </p>
            <button class="g-transparent hover:first:text-gray-500 font-semibold  py-2 px-4 border rounded-md"
            > 
             
              Get Started
          </button>
        </div>
          <div class="">
            <h3
              class="text-xs text-center leading-4 font-medium text-gray-700 tracking-wide uppercase"
            >
            WHAT'S INCLUDED?
            </h3>
            <ul class="mt-6 pl-0 mx-2">
              <li class="flex space-x-3">
                <!-- Heroicon name: check -->
                <svg
                  class="flex-shrink-0 h-5 w-5 text-green-600"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="text-sm leading-5 text-gray-600">A Kubernetes Controller and 1 Worker Node</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">4 GB Memory</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">100 GB Storage</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">A Network Gateway</span>
              </li>
            </ul>
          </div>
          
        </div>

        <div class="border border-gray-200 rounded-lg shadow-sm divide-y p-8 my-6 mx-4 divide-gray-200"
        >
          <div class="text-center">
            <h2 class="text-lg leading-6 font-bold text-gray-600">
              SILVER
            </h2>
            {# <p class="mt-4 text-sm leading-5 text-gray-500">
              {{ plan.excerpt }}
            </p> #}
            <p class="mt-8">
              <span class="text-5xl leading-10 font-extrabold text-gray-700">$15</span>
              <span class="text-2xl leading-6 font-medium text-gray-500"
                >/mo</span
              >
            </p>
            <button class="g-transparent hover:first:text-gray-500 font-semibold  py-2 px-4 border rounded-md"
            > 
             
              Get Started
          </button>
        </div>
          <div class="">
            <h3
              class="text-xs text-center leading-4 font-medium text-gray-700 tracking-wide uppercase"
            >
            WHAT'S INCLUDED?
            </h3>
            <ul class="mt-6 pl-0 mx-2">
              <li class="flex space-x-3">
                <!-- Heroicon name: check -->
                <svg
                  class="flex-shrink-0 h-5 w-5 text-green-600"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="text-sm leading-5 text-gray-600">A Kubernetes Controller and 1 Worker Node</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">4 GB Memory</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">100 GB Storage</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">A Network Gateway</span>
              </li>
            </ul>
          </div>
          
        </div>

        <div class="border border-gray-200 rounded-lg shadow-sm divide-y p-8 my-6 mx-4 divide-gray-200"
        >
          <div class="text-center">
            <h2 class="text-lg leading-6 font-bold text-gray-600">
              SILVER
            </h2>
            {# <p class="mt-4 text-sm leading-5 text-gray-500">
              {{ plan.excerpt }}
            </p> #}
            <p class="mt-8">
              <span class="text-5xl leading-10 font-extrabold text-gray-700">$15</span>
              <span class="text-2xl leading-6 font-medium text-gray-500"
                >/mo</span
              >
            </p>
            <button class="g-transparent hover:first:text-gray-500 font-semibold  py-2 px-4 border rounded-md"
            > 
             
              Get Started
          </button>
        </div>
          <div class="">
            <h3
              class="text-xs text-center leading-4 font-medium text-gray-700 tracking-wide uppercase"
            >
            WHAT'S INCLUDED?
            </h3>
            <ul class="mt-6 pl-0 mx-2">
              <li class="flex space-x-3">
                <!-- Heroicon name: check -->
                <svg
                  class="flex-shrink-0 h-5 w-5 text-green-600"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="text-sm leading-5 text-gray-600">A Kubernetes Controller and 1 Worker Node</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">4 GB Memory</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">100 GB Storage</span>
              </li>
              <li class="flex space-x-3">
                <svg
                class="flex-shrink-0 h-5 w-5 text-green-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
                <span class="text-sm leading-5 text-gray-600">A Network Gateway</span>
              </li>
            </ul>
          </div>
          
        </div>

       

     
      </div>
    </div>
  </div>
</div>
